{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title"><strong>Critical Incident Report Number: {{ report.id }}</strong></h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
  <hr>
  <a href="{{ url_for('user', username=current_user.username) }}">Back</a>
{% endblock %}
