{% extends "base.html" %}

{% block app_content %}
<h2>Critical Incident Report Number: {{ report.id }}</h2>
<hr>
<p><b>Incident Date:</b> {{ report.incident_datetime }}</p>
<p><b>School:</b> {{ report.school_name }}</p>
<p><b>Incident Type:</b> {{ report.incident_type }}</p>
<p><b>Narrative:</b> {{ report.narrative }}</p>
<p><b>Comments:</b> {{ report.comments }}</p>
<p><b>Physical Restraint:</b> {{ 'Yes' if report.phys_restraint else 'No' }}</p>
<p><b>Police:</b> {{ 'Yes' if report.police else 'No' }}</p>
<p><b>Fire or Rescue:</b> {{ 'Yes' if report.fire_rescue else 'No' }}</p>
<p><b>DYCF:</b> {{ 'Yes' if report.dcyf else 'No' }}</p>
<p><b>Risk Assessment Administered:</b> {{ 'Yes' if report.risk_assessment else 'No' }}</p>
<p><b>Crisis Team Response:</b> {{ report.cteam_response }}</p>
<hr>
<a href="{{ url_for('user', username=current_user.username) }}">Back</a>
{% endblock %}
